body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}


.logo {
    font-size: 12px;
    font-weight: bold;
}


.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px; 
    margin: 0 auto;
  }
  
  .search-bar input[type="text"] {
    flex: 1; 
    padding: 10px; 
    font-size: 16px; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
  }
  
  .search-bar button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .search-bar button:hover {
    background-color: #555;
  }
  

.search-container {
    text-align: left; 
}


.search-container input {
    flex: auto; 
    margin-right: 10px; 
}


.user-icon {
    margin-right: auto; 
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;

}

button:hover {
    background-color: #555;
}

h1 {
    font-size: 24px;
    margin: 0;  
}
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
ul {
    list-style-type: disc;
    margin-left: 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.article-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 50px;
}
.article-image {
    height: auto;
    width: 300px;
}

.article-image_medium{
    max-width: 100%; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin: 40px 0; 
}

.div_logo_medium{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}


div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto; 
    max-width: 200px; 
  }
  
  .article-image_medium {
    max-width: 100%;
    height: auto; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto; 
  }
.enlaces {
    margin-top: 80px;
    display: flex;
    gap: 20px;
}
.enlace a {
    text-decoration: none;
    font-size: 14px;
    color: #242424;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 100px;
    padding: 8px 16px;
    line-height: 20px;
    &:hover {
        cursor: pointer;
    }
}
